.blog-card{
    background-color:burlywood;
    padding: 10px;
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
}

.blog-card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);   
}

.blog-title{
    font-size: 20px;
}

.blog-content-preview{
    font-size: 14px;
    margin:0 ;
    padding: 0;
}

.author-avtar{
    height: 30px;
    border-radius: 50%;
}

.author-name{
    font-size: 15px;
    font-style: italic;
    margin-left: 10px;
}

.author-card{
    display: flex;
    align-items: center;
    margin: 10px 5px;
}

.blog-date{
    font-size: 15px;
    font-style: italic;
    margin-left: 30px;
}

.category-batch{
   background-color: black;
   color: white; 
   padding: 2px 10px;
   margin: 2px;
   font-size: 10px;
   border-radius: 20px;
}